<div class="uk-container-medium uk-text-center uk-margin-medium-left uk-margin-large-right">
  <h1 id="header">SCIENCE SCRAPES</h1>
  <div class="uk-divider-small" />
  <div class="uk-inline">
    <div class="uk-text uk-text-small uk-margin-small-bottom">The <i>ScienceNews.org</i> Edition</div>
    <a href="/"><div class="uk-button uk-button-default" id="return">Show All Articles</div></a>
  </div>
  <hr>

  <ul>
    {{#each articles}}
      {{#if saved}}
        <li>
          <div class="uk-card uk-card-default uk-card-small uk-grid-collapse uk-child-width-1-2@s uk-margin-small uk-grid-row-medium" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
              <img src={{this.image}} alt="" uk-cover>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="uk-card-title"><strong>{{this.headline}}</strong></h3>
                <p><i>{{this.summary}}</i></p>
                <div class="uk-card-footer">
                  <a href="{{this.URL}}" class="uk-button uk-button-text">Go to full article.</a>
                </div>
                <button class="uk-button uk-button-default uk-margin-small-right" data-id="{{this._id}}" type="button" uk-toggle="target: #a-modal">Create Note</button>
                <button class="uk-button uk-button-default uk-margin-small-right" id="view" data-id="{{this._id}}" type="button" uk-toggle="target: #b-modal">View Note(s)</button>
              </div>
            </div>
          </div>
        </li>
      {{else}}
        <div class="uk-section-small">
          <div class="uk-text uk-text-large uk-text-danger">Oops! No articles have been saved.</div>
        </div>
      {{/if}}
    {{/each}}
  </ul>
</div>
